@media (max-width: 500px) {
  .desktop_2 .bigImg {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  .desktop_2 .project {
    width: 110px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    object-fit: cover;
  }

  .desktop_2 .Container {
    width: 250px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .desktop_2 .project-image {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

  .desktop_2 .side {
    flex-direction: row;
    width: 250px;
  }

  .desktop_2 .project-image.last {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .desktop_2 .project.last-project {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
  }

  .desktop_2 .project-first {
    width: 250px;
  }

  .desktop_2 .overlay-inner {
    max-width: 90%;
  }
}


.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #2596be, #23D5AB, #EE7752, #E73C7E);
  background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}


/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar .social {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
.sidebar .social a {
  padding-left: 0;
  display: inline-block;
  text-align: center;
}
.sidebar .social i {
  font-size: 33px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .dropdown {
  padding-top: 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-right .5s;
}

/* OUR TEAM SECTION */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 20px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: rgba(37, 150, 190, 0.8);
  color: white;
  transform: rotateY(180deg);
}


.gtco-testimonials {
  .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;

    .card-img-top {
      max-width: 100px;
      border-radius: 50%;
      margin: 15px auto 0;
      box-shadow: 0 8px 20px -4px #95abbb;
      width: 100px;
      height: 100px;
    }

    h5 {
      color: #01b0f8;
      font-size: 21px;
      line-height: 1.3;

      span {
        font-size: 18px;
        color: #666666;
      }
    }

    p {
      font-size: 16px;
      color: #999999;
      padding-bottom: 15px;
    }

    ul {
      display: inline-flex;
      list-style: none;
      font-size: 20px;
      padding-left: 0;
    }
  }
}

/* GALLERY SECTION */

.gallery .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.gallery .responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.gallery .responsive-container-block.Container {
  align-items: center;
  justify-content: space-evenly;
}

.gallery .overlay {
  position: fixed;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(71, 69, 69, 0.7);
  height: 100%;
  width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gallery .overlay-inner {
  top: 50%;
  right: 0px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  width: fit-content;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 1;
  max-width: 50%;
  max-height: 100%;
}

.gallery .close {
  position: absolute;
  top: 9px;
  right: 15px;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  color: #474545;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery .overlay-inner .hdImgs {
  width: fit-content;
  height: calc(80% - 55px);
  display: flex;
}

.gallery .overlay-inner img {
  max-height: 100%;
  max-width: 100%;
  transform: none;
}

.gallery .close:hover {
  cursor: pointer;
}

.gallery .project {
  position: relative;
  width: 33%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.gallery .btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.gallery .project:hover .btn-box {
  display: block;
}

.gallery .btn {
  cursor: pointer;
}

.gallery .smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery .project {
    width: 50%;
  }

  .gallery .overlay-inner {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .gallery .project {
    width: 100%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .gallery .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .gallery .overlay-inner {
    max-width: 90%;
  }
}

/* SERVICES SECTION */

.heading h2 span {
  color: var(--primary-accent);
}
.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-accent) none repeat scroll 0 0;
  border-color: var(--primary-accent);
}
.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid var(--primary-accent);
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}
.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}
.we-offer-area.text-center .item img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}
.we-offer-area.item-border-less .item {
  border: medium none;
}
.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}
.we-offer-area.item-border-less .item .number {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: var(--primary-accent) none repeat scroll 0 0;
}
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}
.we-offer-area .item img {
  display: inline-block;
  margin-bottom: 20px;
}
.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}
.we-offer-area .item p {
  margin: 0;
}
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.we-offer-area .item::after {
  background: var(--primary-accent) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}
.we-offer-area .item:hover::after {
  left: 0;
}
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}
.we-offer-area.text-center .item:hover img  {
  background-color: #ffffff !important;
  color: var(--primary-accent) !important;
}

/* NAV SECTION STYLING */


.nav {
  width: 100%;
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.nav > .nav-links > a:hover {
  background-color: var(--primary-accent);
}

@media (max-width:600px) {
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
}

/* Bottom BAR styling */
#bottom {
  background: var(--third-accent);
  color: #eeeeee;
  padding: 10px 2px;
}
#bottom p {
  margin: 5px 0 0 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
#bottom p a {
  color: #ffffff;
  background-color: var(--primary-accent);

}
#bottom p a i {
  margin-left: 10px;
  padding: 10px 50px;
}

/* TOP BAR styling */

#top-1 {
  background: var(--primary-accent);
  color: #eeeeee;
  padding: 5px 2px;
}
#top-1 p {
  margin: 5px 0 0 0;
  font-size: 15px;
  text-align: center;
}
#top-1 p a {
  color: #fff;
}
#top-1 p a i {
  margin-left: 10px;
}