{{ if isset .Site.Data "about" }}
<section id="about" class="no-mb bar">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h2 class="text-uppercase text-center no-mt">{{ .Site.Data.about.title | safeHTML }}</h2>
            </div>
            <div class="col-md-6">
                {{ .Site.Data.about.description | safeHTML }}
            </div>
            <div class="col-md-6 about-background-div">
                <img class="img-responsive profile-picture" src="{{ .Site.Data.about.image }}" alt="Founder Tiger Aesthethics">
                <div class="bar background-image-fixed-1"></div>
            </div>
        </div>
    </div>
</section>
{{ end }}
