<section id="faq" class="bar background-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="heading text-center">
                    <h4>FAQ's</h4>
                    <br>
                    <h2>Frequently Asked <span>Questions</span></h2>
                </div>
            </div>
        </div>
    
        <div class="row">
    </div>
        <div class="col-12">
            <div class="accordion container" id="accordionExample">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <h3 class="text-center">Training</h3>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Do I need any previous experience? 
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">No. The great thing about my training courses is that you don’t need any previous qualifications! Just bring yourself, confidence, and a good attitude!                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Is training for Lash extensions worth it?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">Price is a crucial factor when investing in any training and you must ensure you can get a return on your investment. Tiger eyelash courses range from £300 to £600 and on average a lash technician earns around £45 per set. These figures show that you can earn up to £2700 a month based on 3 clients per day, 5 days a week for a month. Now that sounds like a good return to me.
                                The most important measure of how “worth it” a course is, is how successful you become. Tiger Aesthetics can give you all the skills you will need, but then it is up to you! 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Why Train with Tiger aesthetics?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">With over 4 years’ experience and constant training, you will be learning the best tips and tricks from the best. Tiger Aesthetics has a high student success rate, passing over 100 students. Trixie offers continuous guidance and support once your training days are complete and even sets time aside to discuss social media management. All courses come with a full free kit that ensures you have enough clients to feel comfortable with. Payment Options available. Accredited and Insurable courses. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <h3 class="text-center">Treatments</h3>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse5" aria-expanded="false" aria-controls="collapseOne">Does Semi Permanent Make up hurt?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse5" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">Everyone’s pain threshold is completely different. The sensation is similar to plucking multiple eyebrows simultaneously or a cat’s scratch. Majority of clients expect the discomfort to be a lot worse. We apply a local anaesthetic before procedure to minimise discomfort.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">How long will my tattooing last?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse6" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">The duration depends on several factors, including skin type, aftercare and technique. Results vary from person to person. Typically, they start fading within a year or two, but some may last up to longer with proper care.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">How long does Microblading take? 
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse7" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">The treatment will take around one hour and a half to two hours, including consultation, pre draw and initial treatment. Once treatment is completed, the healing process lasts up to 2 weeks, ready for your 4 week top up.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>