<section id="gallery" class="bar">
  <div class="container" id="gallery">
    <div class="heading text-center">
      <h2 class="text-uppercase text-center no-mt">Our <span>Work</span></h2>
  </div>
    <div class="gallery" unique-script-id="w-w-dm-id">
      <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <div class="project">
            <img class="smallImage image-block" src="/img/gallery/1.webp">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img class="squareImg" src="/img/gallery/1.webp">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img class="smallImage" src="/img/gallery/2.webp">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img class="squareImg" src="/img/gallery/2.webp">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img class="smallImage" src="/img/gallery/3.webp">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img class="squareImg" src="/img/gallery/3.webp">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div>
            <a href="/gallery" class="btn btn-lg btn-template-main text-uppercase">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


