<div class="desktop_2" unique-script-id="w-w-dm-id">
    <div class="Container">
      <div class="portfolio">
        <div class="above">
          <div class="project project-first">
            <img alt="" class="bigImg image-block" src="img/gallery/6.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/6.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="side">
            <div class="project">
              <img alt="" class="project-image" src="img/gallery/2.jpg">
              <div class="overlay">
                <div class="overlay-inner">
                  <button class="close">
                    Close X
                  </button>
                  <div class="hdImgs">
                    <img alt="" class="againImg" src="img/gallery/2.jpg">
                  </div>
                </div>
              </div>
              <div class="btn-box">
                <button class="btn btn-template-main">
                  View
                </button>
              </div>
            </div>
            <div class="project">
              <img alt="" class="project-image" src="img/gallery/3.jpg">
              <!-- <div class="hdImg">
                <img alt="" class="againImg" src="img/gallery/3.jpg">
              </div> -->
              <div class="overlay">
                <div class="overlay-inner">
                  <button class="close">
                    Close X
                  </button>
                  <div class="hdImgs">
                    <img alt="" class="againImg" src="img/gallery/3.jpg">
                  </div>
                </div>
              </div>
              <div class="btn-box">
                <button class="btn btn-template-main">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="project">
            <img alt="" class="project-image" src="img/gallery/4.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/4.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img alt="" class="project-image" src="img/gallery/5.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/5.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img alt="" class="project-image" src="img/gallery/1.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/1.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project hidden-sm hidden-md hidden-lg">
            <img alt="" class="project-image" src="img/gallery/7.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/7.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="project visible-sm visible-md visible-lg">
            <img alt="" class="project-image" src="img/gallery/7.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/7.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img alt="" class="project-image" src="img/gallery/8.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/8.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
          <div class="project">
            <img alt="" class="project-image last" src="img/gallery/9.jpg">
            <div class="overlay">
              <div class="overlay-inner">
                <button class="close">
                  Close X
                </button>
                <div class="hdImgs">
                  <img alt="" class="againImg" src="img/gallery/9.jpg">
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn btn-template-main">
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>