<div class="container" id="gallery">
  <div class="gallery" unique-script-id="w-w-dm-id">
    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
        {{ range sort .Site.Data.gallery "weight" }}
        <div class="project">
          <img class="smallImage image-block" src="{{ .image }}">
          <div class="overlay">
            <div class="overlay-inner">
              <button class="close">
                Close X
              </button>
              <div class="hdImgs">
                <img class="squareImg" src="{{ .image }}">
              </div>
            </div>
          </div>
          <div class="btn-box">
            <button class="btn btn-template-main">
              View
            </button>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

