<header class="navbar-affixed-top">
  <div class="navbar navbar-default yamm {{ if .Site.Params.dropdown_mouse_over }}mouseover{{ end }}" role="navigation" id="navbar">
      <div>
          <div class="navbar-header">
              <a class="navbar-brand home center-horizontal" href="{{ "/" | relLangURL }}">
                  <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo"/>
                  <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
              </a>
              <div id="main" class="navbar-buttons">
                  <button onclick="openNav()" class="navbar-toggle btn-template-main menu-btn" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only menu-btn">{{ i18n "navToggle" }}</span>
                      <i class="fas fa-bars"></i>
                  </button>
              </div>
          </div>
          <!--/.navbar-header -->

          <div class="sidebar" id="mySidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
              <ul class="nav navbar-nav">
                {{ $current := . }}

                {{ range .Site.Menus.main.ByWeight }}
                {{ $topLevel := replace .URL "/" "" }}
                {{ $active := "" }}

                {{ if eq $current.RelPermalink .URL }}
                  {{ $active = "active" }}
                {{ end }}

                <li class="dropdown {{ $active }}">
                  {{ if hasPrefix .URL "https" }}
                  <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                  {{ else }}
                  <a href="{{ .URL }}">{{ .Name }}</a>
                  {{ end }}
                </li>
                {{ end }}
              </ul>
          </div>
          <!--/.nav-collapse -->
      </div>
  </div>  
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
    }
  
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginRight= "0";
    }
  </script>

  <div class="grad-bar"></div>
  <div class="up-button">
    <a href="#top"><i class="fas fa-arrow-up"></i></a>
  </div>
</header>

<!-- *** NAVBAR END ***-->