<section id="services" class="bar background-white no-mb we-offer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2 class="text-uppercase text-center no-mt">Our<span> Treatments</span></h2>
                </div>
                <p class="lead">See what we can do at Shapers Aesthetics Clinic. Give us a call for more details.</p>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            {{ range sort .Site.Data.services "weight" }}
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <img class="img-responsive" src="{{ .image }}" alt="">
                    <h4>{{ .service }}</h4>
                    <p>{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>