{{ if gt (len .Site.Data.team) 0 }}
<section id="team" class="bar container">
    <div class="row">
        <div class="heading text-center">
            <h2 class="text-center no-mt">Meet<span> The</span> Team</h2>
        </div>
        <p class="lead">
            {{ .Site.Params.team.subtitle | markdownify }}
        </p>
        {{ range sort .Site.Data.team "weight"}}
        <div class="col-md-6">
            <div class="flip-card center-horizontal">
                <div class="flip-card-inner">
                    <div class="flip-card-front center-horizontal">
                        <img  src="{{ .image | relURL }}" alt="Avatar" id="team-image">
                    </div>
                    <div class="flip-card-back center-horizontal">
                        <h3>{{ .name }}</h3>
                        <h4>{{ .title }}</h3>
                        <p>{{ .bio | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
