<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">
        
        {{ partial "sidebar.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "team.html" . }}

        {{ partial "services.html" . }}

        {{ partial "gallery-short.html" . }}

        {{ partial "reviews.html" . }}

        {{ partial "newsletter.html" . }}

        {{ partial "footer.html" . }}

        {{ partial "bottom.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
